loki-data/*
prometheus-data/*
grafana-storage/*
*.pyc
__pycache__/
**.venv
venv/
.env
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
node_modules/
dist/
build/
*.env
*.swp
*.swo
*.bak
*.tmp
*.old
alertmanager.yml
prometheus-shard1-data/*
prometheus-shard2-data/*
prometheus-shard3-data/*
minio-data/*